openapi: 3.0.1
info:
  title: Credit Profile
  version: OpenAPI3.2.0.52
servers:
- url: https://sandbox-us-api.experian.com/consumerservices/credit-profile
paths:
  /v2/credit-report:
    post:
      tags:
      - Consumer Services
      summary: Credit Report
      description: 'Retrieves a credit profile with scores and addons requested. This
        is CR API Version 2.<br><br> We are providing 10 test cases for client testing
        under "Examples" button below which include first 5 positive test cases and
        rest 5 negative test cases. Eg: Success_1, Failure_Invalid surname etc.'
      operationId: CreditReports
      parameters:
      - name: clientReferenceId
        in: header
        description: API client generated reference Id to uniquely identify the API
          request.
        schema:
          type: string
          default: SBMYSQL
          enum:
          - SBMYSQL
      - name: Content-Type
        in: header
        description: Input Request format
        required: true
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: Accept
        in: header
        description: Output Response format
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      requestBody:
        description: Consumer's PII , Requestor Information, Addons and any custom
          options to be specified here.
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/creditProfileRequest'
            examples:    
              Request schema:   #Request schema
                value:
                  {
                    "consumerPii": {
                      "primaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        },
                        "currentAddress": {
                          "line1": "string",
                          "line2": "string",
                          "city": "string",
                          "state": "string",
                          "zipCode": "string"
                        },
                        "previousAddress": [
                          {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        ]
                      },
                      "secondaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        }
                      }
                    },
                    "requestor": {
                      "subscriberCode": "string"
                    },
                    "permissiblePurpose": {
                      "type": "string",
                      "terms": "string",
                      "abbreviatedAmount": "string"
                    },
                    "resellerInfo": {
                      "endUserName": "string"
                    },
                    "freezeOverride": {
                      "primaryApplFreezeOverrideCode": "string",
                      "secondaryApplFreezeOverrideCode": "string"
                    },
                    "vendorData": {
                      "vendorNumber": "string",
                      "vendorVersion": "string"
                    },
                    "addOns": {
                      "directCheck": "string",
                      "demographics": "string",
                      "liftPremium": "string",
                      "clarityEarlyRiskScore": "string",
                      "clarityAttributes": "string",
                      "clarityData": {
                        "clarityAccountId": "string",
                        "clarityLocationId": "string",
                        "clarityControlFileName": "string",
                        "clarityControlFileVersion": "string",
                        "clarityAttributesControlFileName": "string"
                      },
                      "eCBSV": "string",
                      "eCBSVData": {
                        "employerIdentificationNumber": "string",
                        "consentDate": "string",
                        "consentType": "string"
                      },
                      "renterRiskScore": "string",
                      "rentBureauData": {
                        "primaryApplRentBureauFreezePin": "string",
                        "secondaryApplRentBureauFreezePin": "string"
                      },
                      "riskModels": {
                        "modelIndicator": [
                          "string"
                        ],
                        "scorePercentile": "string"
                      },
                      "summaries": {
                        "summaryType": [
                          "string"
                        ]
                      },
                      "fraudShield": "string",
                      "mla": "string",
                      "ofacmsg": "string",
                      "consumerIdentCheck": {
                        "getUniqueConsumerIdentifier": "string",
                        "verifyPrimaryConsumerIdentifier": "string",
                        "verifySecondaryConsumerIdentifier": "string"
                      },
                      "joint": "string",
                      "paymentHistory84": "string",
                      "syntheticId": "string",
                      "taxRefundLoan": "string",
                      "sureProfile": "string",
                      "trendedData": "string",
                      "fcraAttributes": "string",
                      "outputType": "string",
                      "covidSpotlightAttributes": "string",
                      "staggSelect": "string",
                      "incomeAndEmploymentReport": "string",
                      "incomeAndEmploymentReportData": {
                        "verifierName": "string",
                        "reportType": "string"
                      },
                      "mlAttributes": "string"
                    },
                    "customOptions": {
                      "optionId": [
                        "string"
                      ]
                    }
                  }
              Success_1:   # Example 1
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "CANN",
                                    "firstName": "JOHN",
                                    "middleName": "N"
                                },
                                "dob": {
                                    "dob": "1955"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "510 MONDRE ST",
                                    "city": "MICHIGAN CITY",
                                    "state": "IN",
                                    "zipCode": "46360"
                                }
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": "08"
                        },
                        "resellerInfo": {
                            "endUserName": "CPAPIV2TC21"
                        },
                        "vendorData": {
                            "vendorNumber": "072",
                            "vendorVersion": "V1.29"
                        },
                        "addOns": {
                            "directCheck": "",
                            "demographics": "Only Phone",
                            "clarityEarlyRiskScore": "Y",
                            "liftPremium": "Y",
                            "clarityData": {
                                "clarityAccountId": "0000000",
                                "clarityLocationId": "000000",
                                "clarityControlFileName": "test_file",
                                "clarityControlFileVersion": "0000000"
                            },
                            "renterRiskScore": "N",
                            "rentBureauData": {
                                "primaryApplRentBureauFreezePin": "1234",
                                "secondaryApplRentBureauFreezePin": "112233"
                            },
                            "riskModels": {
                                "modelIndicator": [
                                    ""
                                ],
                                "scorePercentile": ""
                            },
                            "summaries": {
                                "summaryType": [
                                    ""
                                ]
                            },
                            "fraudShield": "Y",
                            "mla": "",
                            "ofacmsg": "",
                            "consumerIdentCheck": {
                                "getUniqueConsumerIdentifier": ""
                            },
                            "joint": "",
                            "paymentHistory84": "",
                            "syntheticId": "N",
                            "taxRefundLoan": "Y",
                            "sureProfile": "Y",
                            "incomeAndEmploymentReport": "Y",
                            "incomeAndEmploymentReportData": {
                                "verifierName": "Experian",
                                "reportType": "ExpVerify-Plus"
                            }
                        },
                        "customOptions": {
                            "optionId": [
                                "COADEX"
                            ]
                        }
                    }                  
              Success_2:   # Example 2
                value:
                  {
                    "consumerPii": {
                        "primaryApplicant": {
                            "name": {
                                "lastName": "ARMSTRONG",
                                "firstName": "KARL",
                                "middleName": "E"
                            },
                            "dob": {
                                "dob": "1959"
                            },
                            "ssn": {
                                "ssn": "111111111"
                            },
                            "currentAddress": {
                                "line1": "1073 BUCKINGHAM DR",
                                "city": "CAROL STREAM",
                                "state": "IL",
                                "zipCode": "60188"
                            }
                        },
                        "secondaryApplicant": {
                            "name": {
                                "lastName": "REYNOLDS",
                                "firstName": "ROBERTS"
                            },
                            "dob": {
                                "dob": "10041962"
                            },
                            "ssn": {
                                "ssn": "333333333"
                            },
                            "driverslicense": {
                                "number": "A00000000000",
                                "state": "CT"
                            },
                            "employment": {
                                "employerName": "HOMELAND SECURITY"
                            }
                        }
                    },
                    "requestor": {
                        "subscriberCode": "2222222"
                    },
                    "permissiblePurpose": {
                        "type": ""
                    },
                    "resellerInfo": {
                        "endUserName": "CPAPIV2TC24"
                    },
                    "vendorData": {
                        "vendorNumber": "072",
                        "vendorVersion": "V1.29"
                    },
                    "addOns": {
                        "directCheck": "",
                        "demographics": "Geocode and Phone",
                        "clarityEarlyRiskScore": "Y",
                        "clarityData": {
                            "clarityAccountId": "0000000",
                            "clarityLocationId": "000000",
                            "clarityControlFileName": "test_file2",
                            "clarityControlFileVersion": "0000000"
                        },
                        "renterRiskScore": "Y",
                        "rentBureauData": {
                            "primaryApplRentBureauFreezePin": "1234",
                            "secondaryApplRentBureauFreezePin": "112233"
                        },
                        "riskModels": {
                            "modelIndicator": [
                                ""
                            ],
                            "scorePercentile": ""
                        },
                        "summaries": {
                            "summaryType": [
                                ""
                            ]
                        },
                        "fraudShield": "Y",
                        "mla": "",
                        "ofacmsg": "",
                        "consumerIdentCheck": {
                            "getUniqueConsumerIdentifier": ""
                        },
                        "joint": "",
                        "paymentHistory84": "",
                        "syntheticId": "Y",
                        "taxRefundLoan": "N",
                        "sureProfile": "Y",
                        "fcraAttributes": "Y",
                        "ascendGoData": {
                            "solutionId": "TESTSOLID"
                        }
                    },
                    "customOptions": {
                        "optionId": [
                            "ASCEND_GO"
                        ]
                    }
                  }                 
              Success_3:   # Example 3
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "ARMSTRONG",
                                    "firstName": "KARL",
                                    "middleName": "E"
                                },
                                "dob": {
                                    "dob": "1959"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "1073 BUCKINGHAM DR",
                                    "city": "CAROL STREAM",
                                    "state": "IL",
                                    "zipCode": "60188"
                                }
                            },
                            "secondaryApplicant": {
                                "dob": {
                                    "dob": "10041962"
                                },
                                "ssn": {
                                    "ssn": ""
                                },
                                "driverslicense": {
                                    "number": "A24606453181",
                                    "state": "CT"
                                },
                                "employment": {
                                    "employerName": "HOMELAND SECURITY"
                                }
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": ""
                        },
                        "resellerInfo": {
                            "endUserName": "CPAPIV2TC26"
                        },
                        "addOns": {
                            "directCheck": "",
                            "demographics": "Geocode and Phone",
                            "clarityEarlyRiskScore": "N",
                            "clarityData": {
                                "clarityAccountId": "0000000",
                                "clarityLocationId": "000000",
                                "clarityControlFileName": "test_file",
                                "clarityControlFileVersion": "0000000"
                            },
                            "renterRiskScore": "N",
                            "rentBureauData": {
                                "primaryApplRentBureauFreezePin": "1234",
                                "secondaryApplRentBureauFreezePin": "112233"
                            },
                            "riskModels": {
                                "modelIndicator": [
                                    ""
                                ],
                                "scorePercentile": ""
                            },
                            "summaries": {
                                "summaryType": [
                                    ""
                                ]
                            },
                            "fraudShield": "Y",
                            "mla": "",
                            "ofacmsg": "",
                            "consumerIdentCheck": {
                                "getUniqueConsumerIdentifier": ""
                            },
                            "joint": "",
                            "paymentHistory84": "",
                            "syntheticId": "N"
                        },
                        "customOptions": {
                            "optionId": [
                                ""
                            ]
                        }
                    }
              Success_4:   # Example 4
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "NATIUIDAD",
                                    "firstName": "KATHLEEN",
                                    "middleName": "K"
                                },
                                "dob": {
                                    "dob": "1959"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "3878 DAKLAWN AVE",
                                    "city": "DALLAS",
                                    "state": "TX",
                                    "zipCode": "75219"
                                }
                            },
                            "secondaryApplicant": {
                                "name": {
                                    "lastName": "JAY",
                                    "firstName": "JUDY",
                                    "generationCode": "II"
                                },
                                "ssn": {
                                    "ssn": "333333333"
                                }
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": "48"
                        },
                        "resellerInfo": {
                            "endUserName": "CPAPIV2TC28"
                        },
                        "addOns": {
                            "directCheck": "",
                            "demographics": "Geocode and Phone",
                            "clarityEarlyRiskScore": "N",
                            "clarityAttributes": "Y",
                            "clarityData": {
                                "clarityAccountId": "222",
                                "clarityLocationId": "3333",
                                "clarityControlFileName": "SB_FILE",
                                "clarityControlFileVersion": "1",
                                "clarityAttributesControlFileName":"TEST_FILE"
                            },
                            "renterRiskScore": "Y",
                            "rentBureauData": {
                                "primaryApplRentBureauFreezePin": "1234",
                                "secondaryApplRentBureauFreezePin": "112233"
                            },
                            "riskModels": {
                                "modelIndicator": [],
                                "scorePercentile": ""
                            },
                            "summaries": {
                                "summaryType": [
                                    "Profile Summary"
                                ]
                            },
                            "fraudShield": "",
                            "mla": "",
                            "ofacmsg": "Y",
                            "consumerIdentCheck": {
                                "getUniqueConsumerIdentifier": ""
                            },
                            "joint": "Y",
                            "paymentHistory84": ""
                        },
                        "customOptions": {
                            "optionId": [
                                ""
                            ]
                        }
                    }
              Success_5:   # Example 5
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "NATIUIDAD",
                                    "firstName": "KATHLEEN",
                                    "middleName": "K"
                                },
                                "dob": {
                                    "dob": "1959"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "3878 DAKLAWN AVE",
                                    "city": "DALLAS",
                                    "state": "TX",
                                    "zipCode": "75219"
                                }
                            },
                            "secondaryApplicant": {
                                "name": {
                                    "lastName": "JAY",
                                    "firstName": "JUDY",
                                    "generationCode": "II"
                                },
                                "ssn": {
                                    "ssn": "333333333"
                                }
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": "48"
                        },
                        "resellerInfo": {
                            "endUserName": "CPAPIV2TC28"
                        },
                        "addOns": {
                            "directCheck": "",
                            "demographics": "Geocode and Phone",
                            "clarityEarlyRiskScore": "N",
                            "clarityAttributes": "N",
                            "clarityData": {
                                "clarityAccountId": "0000000",
                                "clarityLocationId": "000000",
                                "clarityControlFileName": "test_file",
                                "clarityControlFileVersion": "0000000",
                                "clarityAttributesControlFileName": "CA_TEST"
                            },
                            "renterRiskScore": "Y",
                            "rentBureauData": {
                                "primaryApplRentBureauFreezePin": "1234",
                                "secondaryApplRentBureauFreezePin": "112233"
                            },
                            "riskModels": {
                                "modelIndicator": [],
                                "scorePercentile": ""
                            },
                            "summaries": {
                                "summaryType": [
                                    "Profile Summary"
                                ]
                            },
                            "fraudShield": "",
                            "mla": "",
                            "ofacmsg": "Y",
                            "consumerIdentCheck": {
                                "getUniqueConsumerIdentifier": ""
                            },
                            "joint": "Y",
                            "paymentHistory84": ""
                        },
                        "customOptions": {
                            "optionId": [
                                ""
                            ]
                        }
                    }                  
              Failure_Invalid CurrentAddress:   # Example 6
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: BOLTON
                        firstName: PEGGY
                      dob:
                        dob: '1948'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - type: T
                          number: 555-673-1001
                      currentAddress:
                        line1: ' '
                        city: DECATUR
                        state: GA
                        zipCode: '30033'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 3F
                  resellerInfo:
                    endUserName: ABC
                  
              Faiure_Internal System Error For invalid RM- Keyword:   # Example 7
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                    terms: '010'
                    abbreviatedAmount: '010'
                  addOns:
                    riskModels:
                      modelIndicator:
                        - AS
                      scorePercentile: ''
                  resellerInfo:
                    endUserName: ABC
                                                       
              Failure_Inquiry not allowed:   # Example 8
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                    terms: '10'
                    abbreviatedAmount: '10'
                  addOns:
                    riskModels:
                      modelIndicator:
                        - AS
                      scorePercentile: ''
                  customOptions:
                    optionId:
                      - test
                  resellerInfo:
                    endUserName: ABC
                                                     
              Failure_Internal Error for invalid INQUIRY TYPE keyword:   # Example 9
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                    terms: '010'
                    abbreviatedAmount: '010'
                  addOns:
                    riskModels:
                      modelIndicator:
                        - A
                      scorePercentile: ''
                  customOptions:
                    optionId:
                      - test12
                  resellerInfo:
                    endUserName: ABC
                     
              Failure_Invalid surname:   # Example 10
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: '-'
                        firstName: PEGGY
                      dob:
                        dob: '1948'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - type: T
                          number: 555-673-1001
                      currentAddress:
                        line1: 2965 ATTERBERRY CT
                        city: ' '
                        zipCode: ' '
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 3F
                  resellerInfo:
                    endUserName: ABC
                  
        required: true
      responses:
        200:
          description: API responds with a JSON.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/creditProfileResponseForCP'
        400:
          description: Client Exception due to invalid data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailerAndErrorType'
        403:
          description: Request Forbidden.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailerAndErrorType'
        404:
          description: Not found Data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailerAndErrorType'
        500:
          description: Server Related Error.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailerAndErrorType'
        504:
          description: Timeout.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailerAndErrorType'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /v1/extended-view-score:
    post:
      tags:
      - Consumer Services
      summary: Extended View Score Only
      description: |-
        Retrieves a credit profile with scores and addons requested. If unable to get a credit report from Experian for this consumer, then we will automatically waterfall to Extended View Scoring for this consumer and return back the Extended View Score.
        <br><br> We are providing 10 test cases for client testing under "Examples" button below which include first 5 positive test cases and rest 5 negative test cases. Eg: Success_1, Failure_Invalid surname etc.
      operationId: ExtendedViewScoreOnly
      parameters:
      - name: clientReferenceId
        in: header
        description: API client generated reference Id to uniquely identify the API
          request.
        schema:
          type: string
          default: SBMYSQL
          enum:
          - SBMYSQL
      - name: Content-Type
        in: header
        description: Input Request format
        required: true
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: Accept
        in: header
        description: Output Response format
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      requestBody:
        description: Consumer's PII , Requestor Information, Addons and any custom
          options to be specified here.
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/extendedViewRequest'
            examples:    
              Request schema:   #Request schema
                value:
                  {
                    "consumerPii": {
                      "primaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        },
                        "currentAddress": {
                          "line1": "string",
                          "line2": "string",
                          "city": "string",
                          "state": "string",
                          "zipCode": "string"
                        },
                        "previousAddress": [
                          {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        ]
                      },
                      "secondaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        }
                      }
                    },
                    "requestor": {
                      "subscriberCode": "string"
                    },
                    "permissiblePurpose": {
                      "type": "string",
                      "terms": "string",
                      "abbreviatedAmount": "string"
                    },
                    "resellerInfo": {
                      "endUserName": "string"
                    },
                    "freezeOverride": {
                      "primaryApplFreezeOverrideCode": "string",
                      "secondaryApplFreezeOverrideCode": "string"
                    },
                    "vendorData": {
                      "vendorNumber": "string",
                      "vendorVersion": "string"
                    },
                    "addOns": {
                      "directCheck": "string",
                      "demographics": "string",
                      "riskModels": {
                        "modelIndicator": [
                          "string"
                        ],
                        "scorePercentile": "string"
                      },
                      "summaries": {
                        "summaryType": [
                          "string"
                        ]
                      },
                      "fraudShield": "string",
                      "mla": "string",
                      "ofacmsg": "string",
                      "consumerIdentCheck": {
                        "getUniqueConsumerIdentifier": "string",
                        "verifyPrimaryConsumerIdentifier": "string",
                        "verifySecondaryConsumerIdentifier": "string"
                      },
                      "joint": "string",
                      "paymentHistory84": "string"
                    },
                    "customOptions": {
                      "optionId": [
                        "string"
                      ]
                    },
                    "thinFileIndicator": "string"
                  }
              Success_1:   # Example 1
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: CANN
                        firstName: JOHN
                        middleName: 'N'
                      ssn:
                        ssn: '111111111'
                      driverslicense:
                        number: A00000000000
                        state: IN
                      currentAddress:
                        line1: 510 MONDRE ST
                        city: MICHIGAN CITY
                        state: IN
                        zipCode: '46360'
                      previousAddress:
                        - line1: 700 N 3RD ST
                          city: SAINTE GE NEVIEVE
                          state: MO
                          zipCode: '63670'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                  resellerInfo:
                    endUserName: CPAPIV2TC21
                  addOns:
                    directCheck: 'Y'
                    demographics: Geocode and Phone
                    riskModels:
                      modelIndicator:
                        - F
                        - R
                        - 'N'
                        - K
                        - V
                      scorePercentile: 'Y'
                    summaries:
                      summaryType:
                        - Profile Summary
                    fraudShield: 'Y'
                    consumerIdentCheck:
                      getUniqueConsumerIdentifier: 'Y'
                    joint: ''
                    paymentHistory84: 'Y'
                  customOptions:
                    optionId:
                      - ''
                  
              Success_2:   # Example 2
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: KOTHARI
                        firstName: MARIA
                      ssn:
                        ssn: '111111111'
                      employment:
                        employerName: ABC
                      currentAddress:
                        line1: PO BOX 1116
                        city: KEALAKEKUA
                        state: HI
                        zipCode: '967501116'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 08
                  resellerInfo:
                    endUserName: CPAPIV2TC22
                  addOns:
                    directCheck: 'Y'
                    demographics: Only Geocode
                    riskModels:
                      modelIndicator:
                        - F
                        - R
                        - 'N'
                        - K
                        - V
                      scorePercentile: ''
                    summaries:
                      summaryType:
                        - Profile Summary
                    fraudShield: 'Y'
                    joint: ''
                    paymentHistory84: 'Y'
                  customOptions:
                    optionId:
                      - ''
                  
              Success_3:   # Example 3
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: ARMSTRONG
                        firstName: KARL
                        middleName: E
                      dob:
                        dob: '1959'
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 1073 BUCKINGHAM DR
                        city: CAROL STREAM
                        state: IL
                        zipCode: '60188'
                    secondaryApplicant:
                      name:
                        lastName: REYNOLDS
                        firstName: ROBERTS
                      dob:
                        dob: '10041962'
                      ssn:
                        ssn: '333333333'
                      driverslicense:
                        number: A24606453181
                        state: CT
                      employment:
                        employerName: HOMELAND SECURITY
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: ''
                  resellerInfo:
                    endUserName: CPAPIV2TC23
                  addOns:
                    directCheck: 'Y'
                    demographics: Geocode and Phone
                    riskModels:
                      modelIndicator:
                        - F
                        - R
                        - 'N'
                        - K
                        - V
                      scorePercentile: 'Y'
                    summaries:
                      summaryType:
                        - Profile Summary
                    fraudShield: 'Y'
                    consumerIdentCheck:
                      getUniqueConsumerIdentifier: 'Y'
                  customOptions:
                    optionId:
                      - ''
                  
              Success_4:   # Example 4
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: NATIUIDAD
                        firstName: KATHLEEN
                        middleName: K
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3878 DAKLAWN AVE
                        city: DALLAS
                        state: TX
                        zipCode: '75219'
                    secondaryApplicant:
                      name:
                        lastName: JAY
                        firstName: JUDY
                        generationCode: II
                      ssn:
                        ssn: '333333333'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                  resellerInfo:
                    endUserName: CPAPIV2TC27
                  addOns:
                    directCheck: 'Y'
                    demographics: Geocode and Phone
                    riskModels:
                      modelIndicator:
                        - M2
                        - F1
                        - 'N'
                        - V
                        - AA
                        - AB
                        - AD
                        - SP
                        - V3
                        - AG
                      scorePercentile: 'Y'
                    summaries:
                      summaryType:
                        - Profile Summary
                  customOptions:
                    optionId:
                      - ''
                  
              Success_5:   # Example 5
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: ARMSTRONG
                        firstName: KARL
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 1073 BUCKINGHAM DR
                        city: CAROL STREAM
                        state: IL
                        zipCode: '60188'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: ''
                  resellerInfo:
                    endUserName: CPAPIV2TC25
                  addOns:
                    directCheck: ''
                    demographics: Geocode and Phone
                    riskModels:
                      modelIndicator:
                        - F
                        - R
                        - 'N'
                        - K
                        - V
                      scorePercentile: 'Y'
                    summaries:
                      summaryType:
                        - ''
                    paymentHistory84: 'Y'
                  customOptions:
                    optionId:
                      - ''
                  
              Failure_Invalid CurrentAddress:   # Example 6
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: BOLTON
                        firstName: PEGGY
                      dob:
                        dob: '1948'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - type: T
                          number: 555-673-1001
                      currentAddress:
                        line1: ' '
                        city: DECATUR
                        state: GA
                        zipCode: '30033'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 3F
                  resellerInfo:
                    endUserName: ABC
                  
              Faiure_Internal System Error For invalid RM- Keyword:   # Example 7
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                    terms: '010'
                    abbreviatedAmount: '010'
                  addOns:
                    riskModels:
                      modelIndicator:
                        - AS
                      scorePercentile: ''
                  resellerInfo:
                    endUserName: ABC
                                                       
              Failure_Inquiry not allowed:   # Example 8
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                    terms: '10'
                    abbreviatedAmount: '10'
                  addOns:
                    riskModels:
                      modelIndicator:
                        - AS
                      scorePercentile: ''
                  customOptions:
                    optionId:
                      - test
                  resellerInfo:
                    endUserName: ABC
                                                     
              Failure_Internal Error for invalid INQUIRY TYPE keyword:   # Example 9
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                    terms: '010'
                    abbreviatedAmount: '010'
                  addOns:
                    riskModels:
                      modelIndicator:
                        - A
                      scorePercentile: ''
                  customOptions:
                    optionId:
                      - test12
                  resellerInfo:
                    endUserName: ABC
                     
              Failure_Invalid surname:   # Example 10
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: '-'
                        firstName: PEGGY
                      dob:
                        dob: '1948'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - type: T
                          number: 555-673-1001
                      currentAddress:
                        line1: 2965 ATTERBERRY CT
                        city: ' '
                        zipCode: ' '
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 3F
                  resellerInfo:
                    endUserName: ABC
                  
        required: true
      responses:
        200:
          description: API responds with a JSON.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/creditProfileResponseForExtendedView'
        400:
          description: Client Exception due to invalid data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Request Forbidden.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found Data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Server Related Error.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        504:
          description: Timeout.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /v1/extended-view-attributes:
    post:
      tags:
      - Consumer Services
      summary: Extended View Attributes Only
      description: |-
        Retrieves a credit profile with scores and addons requested.
        If unable to get a credit report from Experian for this consumer, then we will automatically waterfall to Extended View module for this consumer and return back the Extended View Attributes.
        <br><br> We are providing 10 test cases for client testing under "Examples" button below which include first 5 positive test cases and rest 5 negative test cases. Eg: Success_1, Failure_Invalid surname etc.
      operationId: ExtendedViewAttributesOnly
      parameters:
      - name: clientReferenceId
        in: header
        description: API client generated reference Id to uniquely identify the API
          request.
        schema:
          type: string
          default: SBMYSQL
          enum:
          - SBMYSQL
      - name: Content-Type
        in: header
        description: Input Request format
        required: true
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: Accept
        in: header
        description: Output Response format
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      requestBody:
        description: Consumer's PII , Requestor Information, Addons and any custom
          options to be specified here.
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/extendedViewRequest'
            examples:
              Request schema:   #Request schema
                value:
                  {
                    "consumerPii": {
                      "primaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        },
                        "currentAddress": {
                          "line1": "string",
                          "line2": "string",
                          "city": "string",
                          "state": "string",
                          "zipCode": "string"
                        },
                        "previousAddress": [
                          {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        ]
                      },
                      "secondaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        }
                      }
                    },
                    "requestor": {
                      "subscriberCode": "string"
                    },
                    "permissiblePurpose": {
                      "type": "string",
                      "terms": "string",
                      "abbreviatedAmount": "string"
                    },
                    "resellerInfo": {
                      "endUserName": "string"
                    },
                    "freezeOverride": {
                      "primaryApplFreezeOverrideCode": "string",
                      "secondaryApplFreezeOverrideCode": "string"
                    },
                    "vendorData": {
                      "vendorNumber": "string",
                      "vendorVersion": "string"
                    },
                    "addOns": {
                      "directCheck": "string",
                      "demographics": "string",
                      "riskModels": {
                        "modelIndicator": [
                          "string"
                        ],
                        "scorePercentile": "string"
                      },
                      "summaries": {
                        "summaryType": [
                          "string"
                        ]
                      },
                      "fraudShield": "string",
                      "mla": "string",
                      "ofacmsg": "string",
                      "consumerIdentCheck": {
                        "getUniqueConsumerIdentifier": "string",
                        "verifyPrimaryConsumerIdentifier": "string",
                        "verifySecondaryConsumerIdentifier": "string"
                      },
                      "joint": "string",
                      "paymentHistory84": "string"
                    },
                    "customOptions": {
                      "optionId": [
                        "string"
                      ]
                    },
                    "thinFileIndicator": "string"
                  }
              Success_1:   # Example 1
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: CANN
                        firstName: JOHN
                        middleName: 'N'
                      ssn:
                        ssn: '111111111'
                      driverslicense:
                        number: A00000000000
                        state: IN
                      currentAddress:
                        line1: 510 MONDRE ST
                        city: MICHIGAN CITY
                        state: IN
                        zipCode: '46360'
                      previousAddress:
                        - line1: 700 N 3RD ST
                          city: SAINTE GE NEVIEVE
                          state: MO
                          zipCode: '63670'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                  resellerInfo:
                    endUserName: CPAPIV2TC21
                  addOns:
                    directCheck: 'Y'
                    demographics: Geocode and Phone
                    riskModels:
                      modelIndicator:
                        - F
                        - R
                        - 'N'
                        - K
                        - V
                      scorePercentile: 'Y'
                    summaries:
                      summaryType:
                        - Profile Summary
                    fraudShield: 'Y'
                    consumerIdentCheck:
                      getUniqueConsumerIdentifier: 'Y'
                    joint: ''
                    paymentHistory84: 'Y'
                  customOptions:
                    optionId:
                      - ''
                  
              Success_2:   # Example 2
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: KOTHARI
                        firstName: MARIA
                      ssn:
                        ssn: '111111111'
                      employment:
                        employerName: ABC
                      currentAddress:
                        line1: PO BOX 1116
                        city: KEALAKEKUA
                        state: HI
                        zipCode: '967501116'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 08
                  resellerInfo:
                    endUserName: CPAPIV2TC22
                  addOns:
                    directCheck: 'Y'
                    demographics: Only Geocode
                    riskModels:
                      modelIndicator:
                        - F
                        - R
                        - 'N'
                        - K
                        - V
                      scorePercentile: ''
                    summaries:
                      summaryType:
                        - Profile Summary
                    fraudShield: 'Y'
                    joint: ''
                    paymentHistory84: 'Y'
                  customOptions:
                    optionId:
                      - ''
                  
              Success_3:   # Example 3
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: ARMSTRONG
                        firstName: KARL
                        middleName: E
                      dob:
                        dob: '1959'
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 1073 BUCKINGHAM DR
                        city: CAROL STREAM
                        state: IL
                        zipCode: '60188'
                    secondaryApplicant:
                      name:
                        lastName: REYNOLDS
                        firstName: ROBERTS
                      dob:
                        dob: '10041962'
                      ssn:
                        ssn: '333333333'
                      driverslicense:
                        number: A24606453181
                        state: CT
                      employment:
                        employerName: HOMELAND SECURITY
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: ''
                  resellerInfo:
                    endUserName: CPAPIV2TC23
                  addOns:
                    directCheck: 'Y'
                    demographics: Geocode and Phone
                    riskModels:
                      modelIndicator:
                        - F
                        - R
                        - 'N'
                        - K
                        - V
                      scorePercentile: 'Y'
                    summaries:
                      summaryType:
                        - Profile Summary
                    fraudShield: 'Y'
                    consumerIdentCheck:
                      getUniqueConsumerIdentifier: 'Y'
                  customOptions:
                    optionId:
                      - ''
                  
              Success_4:   # Example 4
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: NATIUIDAD
                        firstName: KATHLEEN
                        middleName: K
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3878 DAKLAWN AVE
                        city: DALLAS
                        state: TX
                        zipCode: '75219'
                    secondaryApplicant:
                      name:
                        lastName: JAY
                        firstName: JUDY
                        generationCode: II
                      ssn:
                        ssn: '333333333'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                  resellerInfo:
                    endUserName: CPAPIV2TC27
                  addOns:
                    directCheck: 'Y'
                    demographics: Geocode and Phone
                    riskModels:
                      modelIndicator:
                        - M2
                        - F1
                        - 'N'
                        - V
                        - AA
                        - AB
                        - AD
                        - SP
                        - V3
                        - AG
                      scorePercentile: 'Y'
                    summaries:
                      summaryType:
                        - Profile Summary
                  customOptions:
                    optionId:
                      - ''
                  
              Success_5:   # Example 5
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: ARMSTRONG
                        firstName: KARL
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 1073 BUCKINGHAM DR
                        city: CAROL STREAM
                        state: IL
                        zipCode: '60188'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: ''
                  resellerInfo:
                    endUserName: CPAPIV2TC25
                  addOns:
                    directCheck: ''
                    demographics: Geocode and Phone
                    riskModels:
                      modelIndicator:
                        - F
                        - R
                        - 'N'
                        - K
                        - V
                      scorePercentile: 'Y'
                    summaries:
                      summaryType:
                        - ''
                    paymentHistory84: 'Y'
                  customOptions:
                    optionId:
                      - ''
                  
              Failure_Invalid CurrentAddress:   # Example 6
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: BOLTON
                        firstName: PEGGY
                      dob:
                        dob: '1948'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - type: T
                          number: 555-673-1001
                      currentAddress:
                        line1: ' '
                        city: DECATUR
                        state: GA
                        zipCode: '30033'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 3F
                  resellerInfo:
                    endUserName: ABC
                  
              Faiure_Internal System Error For invalid RM- Keyword:   # Example 7
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                    terms: '010'
                    abbreviatedAmount: '010'
                  addOns:
                    riskModels:
                      modelIndicator:
                        - AS
                      scorePercentile: ''
                  resellerInfo:
                    endUserName: ABC
                                                       
              Failure_Inquiry not allowed:   # Example 8
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                    terms: '10'
                    abbreviatedAmount: '10'
                  addOns:
                    riskModels:
                      modelIndicator:
                        - AS
                      scorePercentile: ''
                  customOptions:
                    optionId:
                      - test
                  resellerInfo:
                    endUserName: ABC
                                                     
              Failure_Internal Error for invalid INQUIRY TYPE keyword:   # Example 9
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                    terms: '010'
                    abbreviatedAmount: '010'
                  addOns:
                    riskModels:
                      modelIndicator:
                        - A
                      scorePercentile: ''
                  customOptions:
                    optionId:
                      - test12
                  resellerInfo:
                    endUserName: ABC
                     
              Failure_Invalid surname:   # Example 10
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: '-'
                        firstName: PEGGY
                      dob:
                        dob: '1948'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - type: T
                          number: 555-673-1001
                      currentAddress:
                        line1: 2965 ATTERBERRY CT
                        city: ' '
                        zipCode: ' '
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 3F
                  resellerInfo:
                    endUserName: ABC
                  
        required: true
      responses:
        200:
          description: API responds with a JSON.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/creditProfileResponseForExtendedView'
        400:
          description: Client Exception due to invalid data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Request Forbidden.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found Data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Server Related Error.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        504:
          description: Timeout.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /v1/extended-view-attributes-and-score:
    post:
      tags:
      - Consumer Services
      summary: Extended View Attributes and Score
      description: |-
        Retrieves a credit profile with scores and addons requested.
        If unable to get a credit report from Experian for this consumer, then we will automatically waterfall to Extended View module for this consumer and return back the Extended View Attributes and Score.
        <br><br> We are providing 10 test cases for client testing under "Examples" button below which include first 5 positive test cases and rest 5 negative test cases. Eg: Success_1, Failure_Invalid surname etc.
      operationId: ExtendedViewAttributesAndScore
      parameters:
      - name: clientReferenceId
        in: header
        description: API client generated reference Id to uniquely identify the API
          request.
        schema:
          type: string
          default: SBMYSQL
          enum:
          - SBMYSQL
      - name: Content-Type
        in: header
        description: Input Request format
        required: true
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: Accept
        in: header
        description: Output Response format
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      requestBody:
        description: Consumer's PII , Requestor Information, Addons and any custom
          options to be specified here.
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/extendedViewRequest'
            examples:
              Request schema:   #Request schema
                value:
                  {
                    "consumerPii": {
                      "primaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        },
                        "currentAddress": {
                          "line1": "string",
                          "line2": "string",
                          "city": "string",
                          "state": "string",
                          "zipCode": "string"
                        },
                        "previousAddress": [
                          {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        ]
                      },
                      "secondaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        }
                      }
                    },
                      "requestor": {
                        "subscriberCode": "string"
                      },
                      "permissiblePurpose": {
                        "type": "string",
                        "terms": "string",
                        "abbreviatedAmount": "string"
                      },
                      "resellerInfo": {
                        "endUserName": "string"
                      },
                      "freezeOverride": {
                        "primaryApplFreezeOverrideCode": "string",
                        "secondaryApplFreezeOverrideCode": "string"
                      },
                      "vendorData": {
                        "vendorNumber": "string",
                        "vendorVersion": "string"
                      },
                      "addOns": {
                        "directCheck": "string",
                        "demographics": "string",
                        "riskModels": {
                          "modelIndicator": [
                            "string"
                          ],
                          "scorePercentile": "string"
                        },
                        "summaries": {
                          "summaryType": [
                            "string"
                          ]
                        },
                        "fraudShield": "string",
                        "mla": "string",
                        "ofacmsg": "string",
                        "consumerIdentCheck": {
                          "getUniqueConsumerIdentifier": "string",
                          "verifyPrimaryConsumerIdentifier": "string",
                          "verifySecondaryConsumerIdentifier": "string"
                        },
                        "joint": "string",
                        "paymentHistory84": "string"
                      },
                      "customOptions": {
                        "optionId": [
                          "string"
                        ]
                      },
                      "thinFileIndicator": "string"
                    }
              Success_1:   # Example 1
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: CANN
                        firstName: JOHN
                        middleName: 'N'
                      ssn:
                        ssn: '111111111'
                      driverslicense:
                        number: A00000000000
                        state: IN
                      currentAddress:
                        line1: 510 MONDRE ST
                        city: MICHIGAN CITY
[...]
